$xsmall-screen: "only screen and (max-width : 350px)";
$small-screen: "only screen and (max-width : 600px)";
$large-screen: "only screen and (min-width : 950px)";
$xlarge-screen: "only screen and (min-width : 1500px)";